
 .superBtn:hover {
     transition: 0.2s;
     width: 50vh;
     box-shadow: 0 1vh 0 0 orange;
}

 .superBtn {
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
     
     //transform: translate(-50%, -50%);
     margin: auto;
     //margin-top: 80px;
     color: white;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 4vh;

     position: relative;
     width: 35vh;
     padding: 2vh;
     box-shadow: 0vh 1vh 0 0 #3C93D5;
     background-color: rgba(0,0,0, 0.7);
     text-decoration: none;

     transition: 0.2s;
     display: block;
}

 h6{
     position: relative;
     font-family: 'Roboto', sans-serif;
     color: black;
     margin-left: 15%;
     margin-right: 15%;
     text-align: justify;
     min-width: 350px;
     font-size: 16px;
     z-index: -1;
     overflow: clip;
}
 .topText {
     background-color: rgb(0,0,0);
    /* Fallback color */
     background-color: rgba(0,0,0, 0.85);
    /* Black w/opacity/see-through */
     color: white;
     font-size: 7vh;
     position: absolute;
     top: 7vh;
     left: 55%;
     transform: translate(-55%, -50%);
     z-index: 2;
     margin-left: 0;
     width: 79vw;
     text-anchor: (0,0,0);
     text-align: center;
     margin-bottom: 0;
     font-family: 'Do Hyeon', sans-serif;
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
}
 #contentWindow {
     background-color: rgba(0,0,0, 0.7);
     position: absolute;
     top: 21vh;
     bottom: 10vh;
     width: 50%;
     left: 25%;
     right: 25%;
}
 #textContent {
     font-family: 'Roboto', sans-serif;
     font-size: 3vh;
     color: white;
     text-align: justify;
     padding: 3vh;
}
 #socialFooter {
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
     background-color: rgba(0,0,0, 0.7);
     display: block;
     right: 0;
     bottom: 0;
     left: 0;
     position: absolute;
     height: 6vh;
     transition: 0.2s;
}
 #socialIconHolder {
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
     display: inline-block;
     float: right;
     width: 6vh;
     height: 6vh;
}
 #socialText {
     font-family: 'Roboto', sans-serif;
     font-size: 3vh;
     color: white;
     display: inline-flex;
     padding-left: 3vh;
     transform: translateY(-50%);
}
 #socialIcon {
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
     top: 25%;
     transform: translateY(25%);
     background-size: contain;
     display: block;
     margin: auto;
     width: 4vh;
     height: 4vh;
     transition: 0.2s;
}
 #socialIcon:hover {
     user-select: none;
     -webkit-user-select: none;
    /* Safari */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* IE10+/Edge */
     top: 12%;
     transform: translateY(12%);
     background-size: contain;
     display: block;
     margin: auto;
     width: 5vh;
     height: 5vh;
     transition: 0.2s;
}
